@{
    var themes = ViewBag.Themes as List<string>;
}

<form method="post" onsubmit="return DisplayProgressMessage(this, 'Sending...');">
    <div style="display: flex; align-items: center;">
        <h1 style="margin-right: 10px;">Chatbot</h1>
        <select name="theme">
            @if (themes != null)
            {
                @foreach (var theme in themes)
                {
                    <option value="@theme" selected="@((string)ViewBag.Theme == theme ? "selected" : null)">@theme</option>
                }
            }
        </select>
    </div>
    <input type="text" name="message" required style="width: 450px;" oninput="toggleButtonDisabled()" />
    <button type="submit" id="submitButton" class="btn btn-primary" disabled>
        <i class="fas fa-paper-plane"></i> Send
    </button>
</form>

<p class="respuesta">
    <div class="spinner-border d-none spinner-respuesta text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>

    @Html.Raw(Model)
</p>


<p>Name: @ViewBag.Name</p>
<p>Title: @ViewBag.Title</p>
<p>Email: @ViewBag.Email</p>
<p>GitHub: @ViewBag.GitHub</p>
<p>Instagram: @ViewBag.Instagram</p>
<p>LinkedIn: @ViewBag.LinkedIn</p>
<p>Medium: @ViewBag.Medium</p>
<p>Twitter: @ViewBag.Twitter</p>
<p>YouTube: @ViewBag.YouTube</p>

<div class="social-icons">
    <a href="https://github.com/@ViewBag.GitHub" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://instagram.com/@ViewBag.Instagram" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://linkedin.com/in/@ViewBag.LinkedIn" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://medium.com/@ViewBag.Medium" target="_blank"><i class="fab fa-medium"></i></a>
    <a href="https://twitter.com/@ViewBag.Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://youtube.com/c/@ViewBag.YouTube" target="_blank"><i class="fab fa-youtube"></i></a>
</div>


<script src="~/js/scripts.js"></script>
